<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BIBLIOTECA_CON_CODIGO_ODBC.My.MySettings.ConnectionString"
            connectionString="Dsn=BIBLIOTECA CON CODIGO" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>